#container{
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight:bold;
    
}

button{
    font-size: 1.5rem;
    padding:10px 15px;
    border-radius:10px;
    border:none;
    background-color: rgb(58, 100, 189);
    color:white;
    font-weight: bold;
    cursor:pointer;
    box-shadow: 0px 0px 60px;
    
}

button:hover{
    background-color: rgb(29, 29, 52);
}
button:active{
    background-color: rgb(42, 42, 76);
}
input{
    font-size: 2rem;
    margin-bottom: 20px;
    width:150px;
    text-align: center;
    font-weight:bold;
    border-radius:20px;
    border-color: rgb(58, 100, 189);
}
body{
    background-color: black;
    color: white;
}

#diceImages img{
width: 150px;
margin: 5px;
}
#diceResult{
    margin:25px;
}